﻿@model List<GamesResults.Web.ViewModels.GameViewModel>
@{
    ViewData["Title"] = "GameList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Gier</h2>
<button onclick="AddNewGame()">Dodaj nową grę</button>

<ul>
    @foreach (var game in Model)
    {
        <li>
            <button onclick="PreviewGame(@game.ID)">Podgląd</button> @game.Name
        </li>
    }
</ul>


<script>
    function PreviewGame(id) {
        var url = "@Url.Action("GetGamePreview","Game")";
        $.get(url, { id: id }, function (response) {
            var dialog = $(document.createElement('div'));
            dialog.dialog({
                open: function () {
                    $(this).html(response);
                },
                close: function () {
                    $(this).dialog("destroy");
                }
            });
        });
    }


    function AddNewGame() {
        var url = "@Url.Action("AddNewGameForm","Game")";
        $.get(url, function (response) {
            var dialog = $(document.createElement('div'));
            dialog.dialog({
                open: function () {
                    $(this).html(response);
                },
                close: function () {
                    $(this).dialog("destroy");
                }
            });
        });
    }

</script>

