﻿@model List<GamesResults.Web.ViewModels.GameplayViewModel>
@{
    ViewData["Title"] = "GameList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista rozgrywek</h2>
<button onclick="AddNewGameplay()">Dodaj nową rozgrywkę</button>

<ul>
    @foreach (var gameplay in Model)
    {
        <li>
            <button onclick="PreviewGameplay(@gameplay.ID)">Podgląd</button>  @gameplay.GameName @gameplay.Date
        </li>
    }
</ul>

<script>
    function PreviewGameplay(id) {
        var url = "@Url.Action("GetGameplayPreview","Gameplay")";
        $.get(url, { id: id }, function (response) {
            var dialog = $(document.createElement('div'));
            dialog.dialog({
                open: function () {
                    $(this).html(response);
                },
                close: function () {
                    $(this).dialog("destroy");
                }
            });
        });
    }

    function AddNewGameplay() {
        var url = "@Url.Action("AddNewGameplayForm","Gameplay")";
        $.get(url, function (response) {
            var dialogBox = $(document.createElement('div'));
            dialogBox.dialog({
                open: function () {
                    $(this).html(response);
                },
                close: function () {
                    $(this).dialog("destroy");
                }
            });
        });
    }
</script>