﻿@model GamesResults.Web.ViewModels.GameplayViewModel

<div id="GameplayDiv">

    @if (Model.State == GamesResults.Enums.ObjectState.New)
    {
        <h2>Nowa rozgrywka</h2>
    }
    else
    {
        <h2>@Model.GameName @Model.Date</h2>
    }


    <form id="GameplayForm">
        @Html.LabelFor(m => m.GameName)
        @Html.DropDownListFor(m => m.GameID, Model.GamesSelectList, new { onchange = "GetMinMaxPlayers()"})

        @Html.LabelFor(m => m.Date)
        <input type="text" id="Date" name="Date">

        <div id="resultsData">
        </div>
    <button type="submit">Save</button>
    </form>

</div>


<script>
  $( function() {
      $("#Date").datepicker({ dateFormat: 'dd-mm-yy' });


    @foreach(var result in Model.PlayersResults)
      {
          @: results.push([@result.PlayerID,@result.Result,"@result.IsWinner"])
      }

      PrepareResults();
  });

    var results = [];
    var minPlayers;
    var maxPlayers;

    function GetMinMaxPlayers() {
        var url = "@Url.Action("GetPlayersNumber","Game")";
        var id = $("#GameID").val();
        $.get(url, { id: id }, function (response) {
            minPlayers = response.minPlayers;
            maxPlayers = response.maxPlayers;
            console.log(response);
        })
    }




        function PrepareEmptyResultDiv(i) {
            var idPrefix = "PlayersResults[" + i + "].";
            var resultDiv = '<fieldset> Gracz ' + (i + 1) + ': <select id="' + idPrefix + 'PlayerID" name="' + idPrefix + 'PlayerID"></select> Result: <input type="text" id="' + idPrefix + 'Result" name="' + idPrefix + 'Result"/> IsWinner: <input type="checkbox" id="' + idPrefix + 'IsWinner" name=="' + idPrefix + 'IsWinner"/></fieldset>';
            return resultDiv;
        }

        function PrepareResultDiv(i, result) {
            var idPrefix = "PlayersResults[" + i + "].";
            if (result == undefined) {
                var resultDiv = PrepareEmptyResultDiv(i);
            }
            else {
                var resultDiv = '<fieldset> Gracz ' + (i + 1) + ': <select id="' + idPrefix + 'PlayerID" name="' + idPrefix + 'PlayerID"></select> Result: <input type="text" id="' + idPrefix + 'Result" name="' + idPrefix + 'Result"/> IsWinner: <input type="checkbox" id="' + idPrefix + 'IsWinner" name=="' + idPrefix + 'IsWinner"/></fieldset>';
            }
            return resultDiv;
        }

        $("#GameplayForm").submit(function (event) {
            event.preventDefault();
            var url = "@Url.Action("SaveGameplay","Gameplay")";
            $.post(url, $(this).serialize(), function (response) {
                if (response.success !== undefined) {
                    window.location.reload(false);
                }
                else {
              $('#GameplayDiv').html(response);
                }
            });
    })
</script>