﻿@model GamesResults.Web.ViewModels.GameViewModel

<div id="GameDiv">

    @if (Model.State == GamesResults.Enums.ObjectState.New)
    {
        <h2>Nowy gracz</h2>
    }
    else
    {
        <h2>@Model.Name</h2>
    }

        <form id="GameForm">

            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, Model.IsEdit ? new { } : (object)new { disabled = "disabled" })

            @Html.LabelFor(m => m.MinPlayers) @Html.LabelFor(m => m.MaxPlayers)
            @Html.TextBoxFor(m => m.MinPlayers, Model.IsEdit ? new { } : (object)new { disabled = "disabled" })
            @Html.TextBoxFor(m => m.MaxPlayers, Model.IsEdit ? new { } : (object)new { disabled = "disabled" })
        </form>

    @Html.ValidationSummary()
    <button onclick="Save()">Save</button>
</div>
<script>

    function Save() {
        var url = "@Url.Action("SaveGame","Game")"
        var form = $('#GameForm').serialize();
        $.post(url, form, function (response) {
            if (response.success !== undefined) {
                window.location.reload(false);
            }
            else {
                $('#GameDiv').html(response);
            }
        });
    }
</script>