﻿@model GamesResults.Web.ViewModels.PlayerViewModel

<div id="PlayerDiv">
    @if (Model.State == GamesResults.Enums.ObjectState.New)
    {
        <h2>Nowy gracz</h2>
    }
    else
    {
        <h2>@Model.Name</h2>
    }

    <form id="PlayerForm">

        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, Model.IsEdit ? new { } : (object)new { disabled = "disabled" })
    </form>

    @Html.ValidationSummary()

    <button onclick="Save()">Save</button>
</div>
<script>

    function Save() {
        var url = "@Url.Action("SavePlayer","Player")"
        var form = $('#PlayerForm').serialize();
        $.post(url, form, function (response) {
            if (response.success !== undefined) {
                window.location.reload(false);
            }
            else {
                $('#PlayerDiv').html(response);
            }
        });
    }
</script>