﻿@model List<GamesResults.Web.ViewModels.PlayerViewModel>
@{
    ViewData["Title"] = "GameList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista graczy</h2>
<button onclick="AddNewPlayer()">Dodaj nowego gracza</button>

<ul>
    @foreach (var player in Model)
    {
        <li>
            <button onclick="PreviewPlayer(@player.ID)">Podgląd</button> @player.Name
        </li>
    }
</ul>


<script>
    function PreviewPlayer(id) {
        var url = "@Url.Action("GetPlayerPreview","Player")";
        $.get(url, { id: id }, function (response) {
            var dialogBox = $(document.createElement('div'));
            dialogBox.dialog({
                open: function () {
                    $(this).html(response);
                },
                close: function () {
                    $(this).dialog("destroy");
                }
            });
        });
    }

    function AddNewPlayer() {
        var url = "@Url.Action("AddNewPlayerForm","Player")";
        $.get(url, function (response) {
            var dialogBox = $(document.createElement('div'));
            dialogBox.dialog({
                open: function () {
                    $(this).html(response);
                },
                close: function () {
                    $(this).dialog("destroy");
                }
            });
        });
    }
</script>